<aside class="aside-container">
    <ul class="aside-section aside-personal_data">
        <li><i class="aside-icon fas fa-envelope"></i>lucas.sequeira@yahoo.com.ar</li>
        <li><i class="aside-icon fas fa-phone"></i>+54 9 11 1111 1111</li>
        <li><i class="aside-icon fa fa-map-marker"></i>Buenos Aires, Argentina</li>
        <li><i class="aside-icon fab fa-linkedin"></i><a href="https://www.linkedin.com/in/lucasdanielsequeira/" target="blank">/lucasdanielsequeira</a></i></li>
    </ul>
    <ul class="aside-section">
        <li class="aside-title">Habilidades</li>
        <ul class="aside-subsection">
            <li class="aside-subtitle">Backend</li>
            <li class="aside-item"><span>NodeJS</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>Python</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>PHP</span><span class="aside-badge badge-advanced">Avanzado</span></li>
        </ul>
        <ul class="aside-subsection">
            <li class="aside-subtitle">Base de datos</li>
            <li class="aside-item"><span>MongoDB</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>MS SQL</span><span class="aside-badge badge-middle">Intermedio</span></li>
            <li class="aside-item"><span>MySQL</span><span class="aside-badge badge-advanced">Avanzado</span></li>
        </ul>
        <ul class="aside-subsection">
            <li class="aside-subtitle">Fronend</li>
            <li class="aside-item"><span>HTML CSS JS</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>REACT HOOKS</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>TYPESCRIPT</span><span class="aside-badge badge-advanced">Avanzado</span></li>
        </ul>
        <ul class="aside-subsection">
            <li class="aside-subtitle">HERRAMIENTAS</li>
            <li class="aside-item"><span>GIT</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>GITLAB/GITHUB</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>DOCKER</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>SCRUM</span><span class="aside-badge badge-advanced">Avanzado</span></li>
            <li class="aside-item"><span>AWS</span><span class="aside-badge badge-initial">Inicial</span></li>
        </ul>
    </ul>
    <ul class="aside-section">
        <li class="aside-title">Certificaciones</li>
        <li class="aside-item">Scrum Foundations ProfessionalCertificate (SFPC)</li>
    </ul>
    <ul class="aside-section">
        <li class="aside-title">IDIOMAS</li>
        <li class="aside-item">Español ( Nativo )</li>
        <li class="aside-item">Portuges ( A2 )</li>
    </ul>
</aside>