<div class="card-job">
    <h3>DH - Profe</h3>
    <div class="card-job-date">Noviembre de 2021 - Presente</div>
    <span class="card-job-position">Profesor en comisión FullStack JavaScript:</span>
    <p class="card-job-description">
        Capacitación en JavaScript de 40
        alumnos sobre desarrollo frontend y backend. Curso orientado sobre MVC con
        JS Vanilla + EJS. En el backend aplicando express y base de datos SQL.
        Versionado con GIT y deploy en Heroku.
    </p>
</div>