<header class="header-container">
    <img class="header-avatar" src="https://media-exp1.licdn.com/dms/image/C4D03AQEtmHWvzNctEw/profile-displayphoto-shrink_800_800/0/1634819326136?e=1653523200&v=beta&t=0mzkTxXpVw15wBmtqAK2FKjUXk82iSF-eOQv07dzKSw"/>
    <div class="header-person">
        <h1 class="header-name"><%= nombre %></h1>
        <h2 class="header-position"><%= posicion %></h2>
        <p class="header-description"><%= descripcion %></p>
    </div>
</header>